<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.test" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission-sdk-m android:name="android.permission.READ_CONTACTS" />
    <uses-permission-sdk-m android:name="android.permission.WRITE_CONTACTS" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".net.TestHttpActivity"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".view.tabhost.FragmentTabHostActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Custom.Toolbar2" >
        </activity>

        <activity
            android:name=".download.DownLoadActivity"
            android:screenOrientation="portrait" />

        <service android:name=".download.DLService" />

        <activity
            android:name=".view.recycler.RecyclerViewTestActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.recycler.normal.NormalActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.recycler.multi.MultiItemActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.recycler.extra.HeaderOrFooterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/RecyclerViewTheme"/>

        <activity
            android:name=".permission.PermissionActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".leakcanary.LeakcanaryActivity" />

        <activity
            android:name=".banner.BannerTestActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".banner.BannerActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".banner.SplashActivity"
            android:screenOrientation="portrait"/>

    </application>

</manifest>
